NG_APP_AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_ACCESS_KEY
NG_APP_AWS_ACCESS_ID=YOUR_AWS_ACCESS_ID
NG_APP_VIDEO_S3_BUCKET=YOUR_S3_BUCKET
NG_APP_AUTH0_ISSUER=YOUR_AUTH0_ISSUER
NG_APP_AUTH0_CLIENT_ID=YOUR_AUTH0_CLIENT_ID