/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
    --breakpoint-xs: 30rem;
    --breakpoint-xxs: 20rem;
}

html {
    background-color: rgb(220, 214, 207);
}

span {
    cursor: pointer;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}

::-webkit-scrollbar-thumb {
   background: gray;
   height: 10px;
   border-radius: 10px;
}

/*
Source - https://stackoverflow.com/a/4407335
Posted by Blowsie, modified by community. See post 'Timeline' for change history
Retrieved 2026-03-27, License - CC BY-SA 4.0
*/

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

