<div class="flex flex-col w-full h-full p-4">
    <ul id="questions-list" class=" flex-col w-full xxs:h-80">
        <div class="flex w-full justify-between items-center">
            <div class="flex gap-4 items-center">
                <div class="text-xl p-2">Questions</div>
                <button (click)="addQuestion()" class="flex bg-primary text-white w-8 h-8 justify-center items-center rounded-full cursor-pointer hover:brightness-110">+</button>
            </div>
            <menu-button type="questions" class="py-2" [updateQuestions]="updateQuestions" [(sortBy)]="sortValue" [(orderBy)]="orderValue" /> 
        </div>
        @if (auth.getCurrentUser() | async) {
            @if (questions$ | async; as questions) {
                @for (question of questions.content; track question) {
                    <question [id]="question.id!" [question]="question.question!" />
                }
            }
            @else {
                <div class="flex w-full h-full justify-center items-center">
                    <mat-spinner diameter="24"></mat-spinner>
                </div>
            }
        }
        @else {
            <div>Add questions</div>
        }
    </ul>
        <mat-paginator
        (page)="handlePageEvent($event)"
        [hidePageSize]="true"
        [length]="length"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        ></mat-paginator>
    
</div>
