@if (videos$ | async; as videos) {
    <div class="flex flex-col gap-4 w-full h-full transition-discrete">
        <button matButton="filled" (click)="createNewVideo()" class="self-end">New Video</button>
        <div id="video-list" class="flex w-full h-full flex-col">
            <div class="flex justify-end">
                <menu-button type="videos" [(sortBy)]="sortValue" [(orderBy)]="orderValue" />
            </div>
            @for (video of videos; track video) {
                <video-file (click)="navigateToExistingVideo(video.id!)" [created_at]="video.created_at!" [id]="video.id!" [title]="video.title" />
            }
            
        </div> 
    </div>
}