@if (videos$ | async; as videos) {
    <div class="flex flex-col gap-4 w-full h-full transition-discrete">
        <button matButton="filled" (click)="createNewVideo()" class="self-end">New Video</button>
        <div id="video-list" class="flex w-full h-full flex-col">
            <div class="flex justify-end">
                <menu-button type="videos" [updateVideos]="updateVideos" [(sortBy)]="sortValue" [(orderBy)]="orderValue" />
            </div>
            @if (videos.content && videos.content.length > 0) {
                <table [updateVideos]="updateVideos" [videos]="videos.content" [sortValue]="sortValue()" [orderValue]="orderValue()" ></table>
            }
            @else {
                <div class="flex pt-8 w-full h-full justify-center">
                    <div>No video added</div>
                </div>
            }
        </div> 
    </div>
    @if (length > 0) {
        <mat-paginator
        (page)="handlePageEvent($event)"
        [hidePageSize]="true"
        [length]="length"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        ></mat-paginator>
    }
}
 @else {
    <div class="flex w-full h-full justify-center items-center">
        <mat-spinner diameter="24"></mat-spinner>
    </div>
}