<div class="relative flex flex-col gap-10">
    <tui-textfield
        multi
        tuiChevron
        [disabledItemHandler]="strings"
        [stringify]="stringify"
    >
        <input
            tuiInputChip
            tuiSelectLike
            [placeholder]="addedFolders.length ? '' : content()"
            [(ngModel)]="addedFolders"
        />
        <tui-input-chip *tuiItem />
        <cdk-virtual-scroll-viewport
            tuiScrollable
            [itemSize]="48"
            [style.max-height.px]="100"
            [style.min-height.px]="56"
        >
        <tui-data-list-wrapper
            *tuiTextfieldDropdown
            new
            tuiMultiSelectGroup
            [items]="allFolders()"
            [disabledItemHandler]="shouldDisable"
            />
        </cdk-virtual-scroll-viewport>
    </tui-textfield>
</div>
