<div class="relative flex flex-col gap-10">
    <tui-textfield
        multi
        tuiChevron
        [disabledItemHandler]="strings"
        [stringify]="stringify"
    >
        <input
            tuiInputChip
            [placeholder]="addedFolders.length ? '' : content()"
            [(ngModel)]="addedFolders"
        />
        <tui-input-chip *tuiItem />
        <cdk-virtual-scroll-viewport
            tuiScrollable
            [itemSize]="48"
            [style.max-height.px]="100"
            [style.min-height.px]="56"
        >
            <tui-data-list *tuiTextfieldDropdown>
                <tui-opt-group
                    tuiMultiSelectGroup
                >
                    @for (folder of allFolders(); track folder) {
                        <button
                            new
                            tuiOption
                            [value]="folder"
                            [disabled]="shouldDisable(folder)"
                        >
                            {{ folder.name }}
                        </button>
                    }
                </tui-opt-group>
            </tui-data-list>
        </cdk-virtual-scroll-viewport>
    </tui-textfield>
</div>
