<thead class="xxs:text-[8px] xs:text-[12px] lg:text-[16px]">
    <tr>
        <th class="w-5 font-normal text-left flex gap-2">
            <div>{{questions() ? "Questions" : "Title"}}</div>
            <div class="flex gap-2 font-bold">
                @if (sortValue() === "Alphabetical") {
                    @if (orderValue() === "A-Z") {
                        <div>&uarr;</div>
                    }
                    @else {
                        <div>&darr;</div>
                    }
                }
            </div>
        </th>
        <th class="font-normal text-left">Last modified</th>
        <th class="flex gap-2 font-normal text-left">
            @if (sortValue() === "Date created") {
                <div>Last created</div>
                <div class="font-bold">
                    @if (orderValue() === "Newest first") {
                        <div>&uarr;</div>
                    }
                    @else {
                        <div>&darr;</div>
                    }
                </div>
            }
            @else {
                <div>Last viewed</div>
                @if (sortValue() === "Last viewed") {
                    <div class="font-bold">
                        @if (orderValue() === "Newest first") {
                            <div>&uarr;</div>
                        }
                        @else {
                            <div>&darr;</div>
                        }
                    </div>
                }
            }
        </th>
    </tr>
</thead>
<tbody>
    @if (questions()) {
        @for (question of questions(); track question) {
            @if (question) {
                <tr class="xxs:text-[6px] xs:text-[12px] 2xl:text-sm cursor-pointer hover:rounded-full hover:backdrop-brightness-90" [updateQuestions]="updateQuestions()" [sortValue]="sortValue()" [folderId]="folderId()" [question]="question"></tr>
            }
        }
    }
    @else if (folders()) {
        @for (folder of folders(); track folder) {
            <tr class="xxs:text-[6px] xs:text-[12px] 2xl:text-sm cursor-pointer hover:rounded-full hover:backdrop-brightness-90" [updateFolders]="updateFolders()" [sortValue]="sortValue()" [folder]="folder"></tr>
        }
    }
    @else if (videos()) {
        @for (video of videos(); track video) {
            <tr class="xxs:text-[6px] xs:text-[12px] 2xl:text-sm cursor-pointer hover:rounded-full hover:backdrop-brightness-90" [updateVideos]="updateVideos()" [sortValue]="sortValue()" [video]="video"></tr>
        }
    }
</tbody>